/*the rest selector*/
* {
	margin: 0;
	padding: 0;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
	margin-top: 0px	;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid #931420;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	padding-right: 30px;
	padding-left: 30px;
	background-image: linear-gradient(#f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
	float: left;
}

header h2{
	font-size: 170%;
	color: #800000;
}
header h3{
	font-size: 130%;
	font-style: italic;
}
.shadow {
	text-shadow: #800000;
}

/* the styles for the main content */
main {
	clear: left;
	padding-right: 30px;
	padding-left: 30px;
}
main h1 {
	font-size: 150%;
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	border-right: 3px solid #931420;
	border-left: 3px solid #931420;
	padding-top: .3em;
	padding-bottom: .3em;
	border-radius: 9px;
	border-style: double;
	text-align: center;
	box-shadow: 2px 2px black;
}
main h2 {
	color: #800000;
	font-size: 130%;
	padding-top: .5em;
	padding-bottom: .25em;
}
main h3 {
	font-size: 105%;
	padding-bottom: .25em;
	padding-top: .25em;
}

img {
	padding-bottom: 1em;
}

p {
	padding-bottom: .5em;
}

blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}

ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

li {
	padding-bottom: .35em;
}
/* the styles for the footer */
footer {
	background-color: #931420;
	color: white;
}

footer p {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}


a:hover {font-style: italic;}
